<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.app.dao.quote.QuoteDAO">

<!-- 일자 -->
    <insert id="saveQuoteInfo" parameterType="Quote">
		INSERT INTO CONSUMER_PRICE_DAILY (
						stand_ymd,
						grade_name,
						judge_kind_name, 
						judge_kind,
						item_name,
						item_code,
						net_sale_price,
						max_price,
						min_price,
						unit,
						created_time
				) VALUES ( 
						#{standYmd},
						#{gradeName},
						#{judgeKindName}, 
						#{judgeKind},
						#{itemName},
						#{itemCode},
						#{netSalePrice},
						#{maxPrice},
						#{minPrice},
						#{unit},
						SYSTIMESTAMP
				)
    </insert>
    
<!-- 월 -->
	<insert id="saveQuoteMInfo" parameterType="QuoteM">
		INSERT INTO CONSUMER_PRICE_MONTH (
						stand_ym,
						grade_name,
						judge_kind_name, 
						judge_kind,
						item_name,
						item_code,
						unit,
						net_sale_price,
						avg_year_price,
						created_time
				) VALUES ( 
						#{standYm},
						#{gradeName},
						#{judgeKindName}, 
						#{judgeKind},
						#{itemName},
						#{itemCode},
						#{unit},
						#{netSalePrice},
						#{avgYearPrice},					
						SYSTIMESTAMP
				)
    </insert>

<!-- 년도 -->
	<insert id="saveQuoteYInfo" parameterType="QuoteY">
		INSERT INTO CONSUMER_PRICE_YEAR (
						year,
						grade_name,
						judge_kind_name, 
						judge_kind,
						item_name,
						item_code,
						unit,
						net_sale_price,
						max_price,
						min_price,
						created_time
				) VALUES ( 
						#{year},
						#{gradeName},
						#{judgeKindName}, 
						#{judgeKind},
						#{itemName},
						#{itemCode},
						#{unit},
						#{netSalePrice},
						#{maxPrice},
						#{minPrice},					
						SYSTIMESTAMP
				)
    </insert>
    
    <!-- day -->
    <select id="checkDay" resultType="Quote" parameterType="String">
		SELECT * FROM CONSUMER_PRICE_DAILY
		WHERE stand_ymd = #{standYmd}
		ORDER BY DBMS_RANDOM.VALUE
		FETCH FIRST 1 ROWS ONLY
    </select>
    
    <select id="dayList" resultType="Quote" parameterType="String">
    	select * from CONSUMER_PRICE_DAILY
		where stand_ymd = #{standYmd} AND stand_ymd NOT LIKE '평년'
    </select>


    <!-- month -->
	<select id="checkDayM" resultType="QuoteM" parameterType="String">
		SELECT * FROM CONSUMER_PRICE_MONTH
		WHERE stand_ym = #{standYm}
		ORDER BY DBMS_RANDOM.VALUE
		FETCH FIRST 1 ROWS ONLY
    </select>
    
    <select id="dayListM" resultType="QuoteM" parameterType="String">
		SELECT
		    MIN(ID) AS ID,
		    MIN(stand_ym) AS stand_ym,
		    GRADE_NAME,
		    JUDGE_KIND_NAME,
		    JUDGE_KIND,
		    ITEM_NAME,
		    ITEM_CODE,
		    UNIT,
		    NET_SALE_PRICE,
		    MIN(CREATED_TIME) AS CREATED_TIME
		FROM
		    CONSUMER_PRICE_MONTH
		where stand_ym = #{standYm} AND stand_ym NOT LIKE '평년'    
		GROUP BY
		    GRADE_NAME,
		    NET_SALE_PRICE,
		    JUDGE_KIND_NAME,
		    JUDGE_KIND,
		    ITEM_NAME,
		    ITEM_CODE,
		    UNIT
    </select>
    
    <update id="standYmNullUpdate" parameterType="QuoteM">
		UPDATE CONSUMER_PRICE_MONTH
		SET stand_ym = #{day}
		WHERE stand_ym IS NULL
    </update>
    
    
    <!-- year -->
	<select id="checkDayY" resultType="QuoteY" parameterType="String">
		SELECT * FROM CONSUMER_PRICE_YEAR
		WHERE year = #{year}
		ORDER BY DBMS_RANDOM.VALUE
		FETCH FIRST 1 ROWS ONLY
    </select>
    
    <select id="dayListY" resultType="QuoteY" parameterType="String">
		SELECT
		    MIN(ID) AS ID,
		    MIN(YEAR) AS YEAR,
		    GRADE_NAME,
		    JUDGE_KIND_NAME,
		    JUDGE_KIND,
		    ITEM_NAME,
		    ITEM_CODE,
		    UNIT,
		    NET_SALE_PRICE,
		    MAX_PRICE,
		    MIN_PRICE,
		    MIN(CREATED_TIME) AS CREATED_TIME
		FROM
		    CONSUMER_PRICE_YEAR
		where year=#{year} AND year NOT LIKE '평년'    
		GROUP BY
		    GRADE_NAME,
		    NET_SALE_PRICE,
		    MAX_PRICE,
		    MIN_PRICE,
		    JUDGE_KIND_NAME,
		    JUDGE_KIND,
		    ITEM_NAME,
		    ITEM_CODE,
		    UNIT
    </select>
    
</mapper>