.custom-alert-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center; 
  z-index: 2000;
}

.custom-alert-content {
  background-color: #444;
  color: white;
  padding: 15px 30px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  min-width: 250px;
}

.custom-alert-content p {
  margin: 0 0 10px;
}

.custom-alert-content button {
  background-color: #337ab7;
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 4px;
  cursor: pointer;
}