<?xml version="1.0" encoding="UTF-8"?>						
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"						
					"http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true" />
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>


	<typeAliases>
		<typeAlias type="com.app.dto.home.AuctionItemHome" alias="AuctionItemHome" />
		<typeAlias type="com.app.dto.home.SalesItemHome" alias="SalesItemHome" />
		<typeAlias type="com.app.dto.quote.QuoteDTO" alias="Quote" />
		<typeAlias type="com.app.dto.quote.QuoteDTOM" alias="QuoteM" />
		<typeAlias type="com.app.dto.quote.QuoteDTOY" alias="QuoteY" />	
		<typeAlias type="com.app.dto.sale.SaleItem" alias="SaleItem" />
		<typeAlias type="com.app.dto.sale.Review" alias="Review" />
		<typeAlias type="com.app.dto.auction.AuctionItem" alias="AuctionItem" />
		<typeAlias type="com.app.dto.auction.Bid" alias="Bid" />
	</typeAliases>

</configuration>


